<div class="flex_column flex_column-align-center flex_column-justify-center register">
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>

    <span>Date adiționale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completează numele medicului tău de familie!</span>

  <form [formGroup]="medicName" class="width-full">
    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Nume medic de familie</mat-label>

      <input matInput placeholder="Ana Grigorescu" required formControlName="name">
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    (click)="finishRegister()"
    [disabled]="!medicName.valid"
  >Înregistrați-vă</button>
</div>
