<div *ngIf="showBaseRegisterView" class="flex_column flex_column-align-center flex_column-justify-center register">
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="backToChooseUserType()">keyboard_arrow_left</mat-icon>

    <span>Înregistrați-vă</span>
  </div>

  <span class="subtitle margin_bottom-xl">Check your heath - cea mai simplă metodă de a avea grijă de sănătatea ta</span>

  <form [formGroup]="baseRegisterForm">
    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Nume</mat-label>

      <input matInput placeholder="Ana Grigorescu / Catena" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Numar de telefon</mat-label>

      <input matInput placeholder="0723232344" required formControlName="phoneNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Email</mat-label>

      <input matInput placeholder="mail@gmail.com" formControlName="email" [required]="userType !== 'patient'">
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Parolă</mat-label>

      <input matInput type="password" placeholder="**********" required formControlName="password">
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    (click)="continueRegister()"
    [disabled]="!baseRegisterForm.valid"
  >Continuă</button>
</div>

<cyh-patient-register
  *ngIf="!showBaseRegisterView && userType === 'patient'"
  (goBackToBaseRegister)="goBackToBaseRegister()"
  (register)="register($event)"
></cyh-patient-register>

<cyh-medic-register
  *ngIf="!showBaseRegisterView && userType === 'medic'"
  (goBackToBaseRegister)="goBackToBaseRegister()"
  (register)="register($event)"
></cyh-medic-register>

<cyh-pharmacy-register
  *ngIf="!showBaseRegisterView && userType === 'pharmacy'"
  (goBackToBaseRegister)="goBackToBaseRegister()"
  (register)="register($event)"
></cyh-pharmacy-register>

<cyh-specialist-register
  *ngIf="!showBaseRegisterView && userType === 'specialist'"
  (goBackToBaseRegister)="goBackToBaseRegister()"
  (register)="register($event)"
></cyh-specialist-register>
