<div class="logo flex flex-align-center" (click)="goHome()">
  <img class="icon margin_right-s" src="../../../assets/images/logo.svg" alt="logo">

  <span>Check your health</span>
</div>

<div *ngIf="!onChooseUserType && !onRegisterPage">
  <span class="margin_right">Nu ai cont?</span>

  <button
    (click)="goToRegister()"
    color="primary"
    class="button button-border"
    mat-button
  >
    Înregistreză-te
  </button>
</div>

<div *ngIf="!onChooseUserType && onRegisterPage">
  <span class="margin_right">Ai deja cont?</span>

  <button
    (click)="goToLogin()"
    color="primary"
    class="button button-border"
    mat-button
  >
    Intră în cont
  </button>
</div>
