<div class="logo flex flex-align-center" (click)="goHome()">
  <img class="icon margin_right-s" src="../../../assets/images/logo.svg" alt="logo">

  <span>Check your health</span>
</div>

<div *ngIf="!onChooseUserType && !onRegisterPage">
  <span class="margin_right">Are you new?</span>

  <button
    (click)="goToRegister()"
    color="primary"
    class="button button-border"
    mat-button
  >
    Register
  </button>
</div>

<div *ngIf="!onChooseUserType && onRegisterPage">
  <span class="margin_right">Already have an account?</span>

  <button
    (click)="goToLogin()"
    color="primary"
    class="button button-border"
    mat-button
  >
    Login
  </button>
</div>

<div *ngIf="loggedIn">
  <button mat-icon-button>
    <mat-icon class="icon">notifications</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>
