<div class="logo flex flex-align-center" [routerLink]="''">
  <img class="icon margin_right-s" src="../../../assets/images/logo.svg" alt="logo">

  <span>Check your health</span>
</div>

<div>
  <span class="margin_right">Are you new?</span>

  <button class="button button-border" mat-button color="primary">Register</button>
</div>

<!-- <div>
  <button mat-icon-button>
    <mat-icon class="icon">notifications</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div> -->
