@import '../../../assets/styles/_colors'

:host
  display: flex
  justify-content: space-between
  align-items: center
  box-sizing: border-box
  padding: 3rem 0
  color: $dark_purple

  .logo
    cursor: pointer
    font-weight: 500
    font-size: 1.125rem

    .icon
      width: 30px

