<div class="flex_column flex_column-align-center flex_column-justify-center choose-user-type">
  <span class="title margin_bottom-s">Choose account type</span>

  <span class="subtitle">Check your heath makes it easy to stay up to speed with the most import thing in life</span>

  <div class="user-types margin_top-xl">
    <button
      [routerLink]="['login', 'pacient']"
      (click)="selectUserType('pacient')"
      color="primary"
      mat-raised-button
    >
      Pacient
    </button>

    <button
      [routerLink]="['login', 'medic']"
      (click)="selectUserType('medic')"
      color="primary"
      mat-raised-button
    >
      Medic
    </button>

    <button
      [routerLink]="['login', 'farmacy']"
      (click)="selectUserType('farmacy')"
      color="primary"
      mat-raised-button
    >
      Farmacy
    </button>

    <button
      [routerLink]="['login', 'specialist']"
      (click)="selectUserType('specialist')"
      color="primary"
      mat-raised-button
    >
      Specialist medic
    </button>
  </div>
</div>
