<div class="flex_column flex_column-align-center flex_column-justify-center choose-user-type">
  <span class="title margin_bottom-s">Choose account type</span>

  <span class="subtitle">Check your heath makes it easy to stay up to speed with the most import thing in life</span>

  <div class="user-types margin_top-xl">
    <button mat-raised-button color="primary" [routerLink]="['login', 'pacient']">Pacient</button>

    <button mat-raised-button color="primary" [routerLink]="['login', 'medic']">Medic</button>

    <button mat-raised-button color="primary" [routerLink]="['login', 'farmacy']">Farmacy</button>

    <button mat-raised-button color="primary" [routerLink]="['login', 'specialist-medic']">Specialist medic</button>
  </div>
</div>
