<div *ngIf="!showWorkingHoursForm"  class="flex_column flex_column-align-center flex_column-justify-center register">
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>

    <span>Date aditionale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completati locatia farmaciei</span>

  <form [formGroup]="farmacyRegisterForm" class="width-full">
    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Locatie farmacie</mat-label>

      <input matInput placeholder="Bulevardul Stefan Cel Mare nr.4" required formControlName="location">
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    (click)="continueRegister()"
    [disabled]="!farmacyRegisterForm.valid"
  >Continuă</button>
</div>

<div 
  *ngIf="showWorkingHoursForm" 
  class="flex_column flex_column-align-center flex_column-justify-center register"
>
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBackPharmacy()">keyboard_arrow_left</mat-icon>

    <span>Date aditionale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completați programul cabinetului dumneavoastră</span>

  <cyh-working-hours-form 
    class="width-full" 
    (changedWorkingHours)="changedWorkingHours($event)"
  ></cyh-working-hours-form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    [disabled]="isFinishRegisterBtnDisabled()"
    (click)="finishRegister()"
  >
    Înregistrați-vă
  </button>
</div>