<ng-container *ngIf="loading">
  <cyh-loading-screen></cyh-loading-screen>
</ng-container>

<div class="flex height-full" [ngClass]="{'card-hide': loading}">
  <div class="width-medium margin_right-xl">
    <cyh-patient-prescription-details
      *ngFor="let prescription of prescriptions"
      [prescription]="prescription"
      [selected]="prescription === selectedPrescription"
      (click)="selectPrescription(prescription)"
    ></cyh-patient-prescription-details>
  </div>

  <div class="width-medium">
    <!-- <cyh-medic-details-card [isDynamicView]="true" [medic]="medicForSelectedReference" [type]="'reference'"></cyh-medic-details-card> -->
  </div>
</div>