<ng-container *ngIf="loading">
  <cyh-loading-screen></cyh-loading-screen>
</ng-container>

<div class="flex height-full" [ngClass]="{'card-hide': loading, 'no-data': prescriptions.length === 0}">
  <span *ngIf="prescriptions.length === 0">Nu au fost găsite rețete : (</span>

  <ng-container *ngIf="prescriptions.length > 0">
    <div class="width-medium margin_right-xl prescriptions">
      <cyh-patient-prescription-details
        *ngFor="let prescription of prescriptions"
        [prescription]="prescription"
        [selected]="prescription.id === selectedPrescription.id"
        (click)="selectPrescription(prescription)"
      ></cyh-patient-prescription-details>
    </div>

    <div class="width-medium">
      <cyh-pharmacy-details-card
        [pharmacy]="pharmacyForSelectedPrescription"
      ></cyh-pharmacy-details-card>
    </div>
  </ng-container>
</div>