<div 
  *ngIf="!showWorkingHoursForm && !showSelectMedic" 
  class="flex_column flex_column-align-center flex_column-justify-center register"
>
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>

    <span>Date aditionale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completați datele profesiei dumneavoastră</span>

  <form [formGroup]="medicRegisterForm" class="width-full">
    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Cod unic parafa</mat-label>

      <input matInput placeholder="AG96H" required formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Locatie Cabinet</mat-label>

      <input matInput placeholder="Bulevardul Stefan Cel Mare nr.4" required formControlName="location">
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button" 
    [disabled]="!medicRegisterForm.valid"
    (click)="continueRegister()"
  >
    Continuă
  </button>
</div>

<div 
  *ngIf="showWorkingHoursForm && !showSelectMedic" 
  class="flex_column flex_column-align-center flex_column-justify-center register"
>
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBackToMedic()">keyboard_arrow_left</mat-icon>

    <span>Date aditionale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completați programul cabinetului dumneavoastră</span>

  <cyh-working-hours-form 
    class="width-full" 
    (changedWorkingHours)="changedWorkingHours($event)"
  ></cyh-working-hours-form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    [disabled]="isFinishRegisterBtnDisabled()"
    (click)="continueRegisterToSelectMedic()"
  >
    Continuă
  </button>
</div>

<ng-container *ngIf="!showWorkingHoursForm && showSelectMedic">
  <cyh-patient-register
    [userType]="'medic'"
    [medicsList]="medicsList"
    [registerBaseUser]="registerBaseUser"
    (goBackToBaseRegister)="hideSelectMedic()"
    (finishRegister)="finishRegister($event)"
  ></cyh-patient-register>
</ng-container>