<h1 class="purple-title" mat-dialog-title>Creaza prescriptie</h1>

<div mat-dialog-content>
    <mat-form-field appearance="outline" class="width-full">
        <mat-label>Farmacie</mat-label>

        <input
            #specialistTrigger
            type="text"
            placeholder="Specialist"
            matInput
            [formControl]="pharmacyInput"
            [matAutocomplete]="auto"
            (focus)="onFocusSpecialist()"
        >

        <mat-autocomplete #pharmacyTrigger autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
                *ngFor="let option of pharmaciesListForInput | async"
                [value]="option.name"
                (click)="selectPharmacy(option)"
            >
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-full">
        <mat-label>Adauga medicamente</mat-label>

        <input
            #medicineTrigger
            type="text"
            placeholder="Medicament"
            matInput
            [formControl]="medicineInput"
            [matAutocomplete]="autoMedicine"
            (focus)="onFocusMedicine()"
        >

        <mat-autocomplete autoActiveFirstOption #autoMedicine="matAutocomplete">
            <mat-option
                *ngFor="let option of medicineListForInput | async"
                [value]="option.name"
                (click)="selectMedicine(option)"
            >
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <form [formGroup]="medicineListInputs">
        <span *ngIf="prescription.medicines.length > 0" class="block margin_bottom-s">Medicamente adaugate:</span>

        <div *ngFor="let medicine of prescription.medicines" class="flex width-full">
            <mat-form-field appearance="outline" class="width-medium margin_right">
                <mat-label>Nume</mat-label>

                <input matInput disabled required value="{{medicine.medicine.name}}">
            </mat-form-field>

            <mat-form-field appearance="outline" class="width-medium">
                <mat-label>Cantitate in mg</mat-label>

                <input matInput type="number" required formControlName="{{medicine.medicine.name}}">
            </mat-form-field>

            <mat-icon class="remove-medicine-icon" (click)="removeMedicine(medicine)">close</mat-icon>
        </div>
    </form>
</div>

<div class="flex width-full margin_top">
    <button
        mat-button
        color="primary"
        class="width-medium height-small button secondary-button"
        (click)="onNoClick()"
    >
        Anuleaza
    </button>

    <span class="margin_right"></span>

    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="prescription"
        [disabled]="isCreateBtnDisabled()"
        class="width-medium height-small button"
        cdkFocusInitial
    >
        Creaza
    </button>
</div>
