<div class="card appointments-card flex_column flex_column-justify margin_bottom-xl">
  <div class="appointments-list-container">
    <span class="title">Programări viitoare</span>

    <div class="appointments-list" *ngIf="(appointments$ | async) as a">
      <div class="appointment" *ngFor="let appointment of a" (click)="openAppointmentDetails(appointment)">
        <span class="subtitle margin_bottom-s">
          {{appointment.date * 1000 | date: 'dd MMM yyyy'}}
          {{appointment.hoursInterval.start | formatTime}} - {{appointment.hoursInterval.end | formatTime}}
          <span class="subtitle-purple">
            - {{appointment.fullMedic.name}}
          </span>
        </span>

        <span class="small-subtitle pending" *ngIf="appointment.status === 'pending'">Așteaptă confirmare</span>
        <span class="small-subtitle accepted" *ngIf="appointment.status === 'accepted'">Confirmată</span>
        <span class="small-subtitle refused" *ngIf="appointment.status === 'refused'">Respinsă</span>
      </div>

      <span *ngIf="a.length === 0" class="small-subtitle">Nu există programări viitoare</span>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    (click)="openCreateNewAppointment()"
  >Programare noua</button>
</div>

<div class="card old-appointments-card">
  <span class="title">Istoric programări</span>

  <div class="old-appointments-container" *ngIf="(oldAppointments$ | async) as a">
    <div class="old-appointment" *ngFor="let appointment of a" (click)="openAppointmentDetails(appointment)">
      <span class="subtitle">
        {{appointment.date * 1000 | date: 'dd MMM yyyy'}}
        {{appointment.hoursInterval.start | formatTime}} - {{appointment.hoursInterval.end | formatTime}}
        <span class="subtitle-purple">
          - {{appointment.fullMedic.name}}
        </span>
      </span>
    </div>

    <span *ngIf="a.length === 0" class="small-subtitle">Istoricul programărilor este gol</span>
  </div>
</div>
