<div class="flex_column flex_column-align-center flex_column-justify-center register">
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>

    <span>Date adiționale</span>
  </div>

  <span class="subtitle margin_bottom-xl">Completează numele medicului tău de familie!</span>

  <form [formGroup]="medicName" class="width-full">
    <mat-form-field appearance="outline" class="width-full">
      <mat-label>Nume medic de familie</mat-label>

      <input
        #medicineTrigger
        type="text"
        placeholder="Medicament"
        matInput
        formControlName="name"
        [matAutocomplete]="autoMedic"
        (focus)="onFocus()"
        required
      >

      <mat-autocomplete autoActiveFirstOption #autoMedic="matAutocomplete">
        <mat-option
          *ngFor="let option of medicsListForInput | async"
          [value]="option.name"
          (click)="selectMedic(option)"
        >
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    (click)="doFinishRegister()"
    [disabled]="!medicName.valid"
  >{{end ? 'Înregistrați-vă' : 'Continuă'}}</button>
</div>
