<h1 class="purple-title" mat-dialog-title>Schimbare email</h1>

<div mat-dialog-content class="padding_bottom">
    <form class="width-full" [formGroup]="editEmailForm">
        <mat-form-field appearance="fill" class="width-full">
            <mat-label>Email vechi</mat-label>

            <input 
                type="text"
                matInput
                required
                formControlName="oldEmail"
            >
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-full">
            <mat-label>Email nou</mat-label>

            <input 
                type="text"
                matInput
                required
                formControlName="newEmail"
            >
        </mat-form-field>
    </form>
</div>

<div class="flex width-full">
    <button
        mat-button
        color="primary"
        class="width-medium height-small button secondary-button"
        (click)="onNoClick()"
    >
        Anulează
    </button>

    <span class="margin_right"></span>

    <button 
        mat-raised-button 
        color="primary" 
        [disabled]="!editEmailForm.valid"
        class="width-medium height-small button"
        (click)="editEmail()"
    >
        Schimbă
    </button>
</div>