<ng-container *ngIf="loading; else notLoading">
  <cyh-loading-screen></cyh-loading-screen>
</ng-container>

<ng-template #notLoading>
  <div class="flex">
    <div class="card card-height-auto width-medium margin_right-xl margin_bottom-xl">
      <ng-container *ngIf="addAppointment">
        <div class="flex flex-align-center">
          <mat-icon (click)="goBack()" class="back-btn">keyboard_arrow_left</mat-icon>
          <span class="title card-title">Creaza o programare noua</span>
        </div>

        <form class="width-full margin_top">
          <span class="subtitle block margin_bottom">Selecteaza ziua</span>

          <mat-card class="calendar-card block margin_bottom">
            <mat-calendar [contentEditable]="false" [(selected)]="date" ></mat-calendar>
          </mat-card>

          <span class="subtitle block margin_bottom">Selecteaza intervalul orar</span>

          <mat-form-field appearance="fill" class="select-interval">
            <mat-label>Interval orar</mat-label>
            <mat-select [(value)]="hoursInterval">
              <mat-option
                *ngFor="let interval of hoursInterval_options"
                [value]="interval"
                [disabled]="interval.state === 'not available'"
              >
                {{interval.start}}:00 - {{interval.end}}:00
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <span class="subtitle block margin_bottom">Motivul programarii</span>

        <mat-form-field appearance="fill" class="select-interval">
          <mat-label>Motiv</mat-label>
          <textarea matInput [formControl]="reason"></textarea>
        </mat-form-field>

        <button
          *ngIf="addAppointment"
          mat-raised-button
          color="primary"
          class="width-full height-small button"
          [disabled]="isCreateBtnDisabled()"
          (click)="createAppointment()"
        >
          Creaza
        </button>
      </ng-container>

      <ng-container *ngIf="!addAppointment">
        <div class="flex flex-align-center margin_bottom">
          <mat-icon (click)="goBack()" class="back-btn">keyboard_arrow_left</mat-icon>
          <span class="title card-title">Programarea nr. {{appointment.id.slice(0, 5)}}</span>
        </div>

        <div class="padding_left-s">
          <span class="small-subtitle">Ziua programarii</span>

          <span class="subtitle block margin_bottom">{{appointment.date * 1000 | date: 'dd MMM yyyy'}}</span>

          <span class="small-subtitle">Intervalul orar</span>

          <span class="subtitle block margin_bottom">{{appointment.hoursInterval.start}}:00 - {{appointment.hoursInterval.end}}: 00</span>

          <span class="small-subtitle">Status</span>

          <span class="subtitle pending block margin_bottom" *ngIf="appointment.status === 'pending'">Așteaptă confirmare</span>
          <span class="subtitle accepted block margin_bottom" *ngIf="appointment.status === 'accepted'">Confirmată</span>
          <span class="subtitle refused block margin_bottom" *ngIf="appointment.status === 'refused'">Respinsă</span>

          <span class="small-subtitle">Motiv</span>

          <span class="subtitle block margin_bottom">Motiv to add here</span>
        </div>
      </ng-container>
    </div>

    <div class="width-medium">
      <cyh-patient-dashboard-medic [isDynamicView]="true" [medic]="appointment.medic"></cyh-patient-dashboard-medic>
    </div>
  </div>
</ng-template>
