<div 
  class="card card-hover-effect appointments-card flex_column flex_column-justify margin_bottom-xl"
  [ngClass]="{'card-not-selected': !selected, 'card-selected': selected}"
>
  <span class="title card-title">Trimiterea nr. {{reference.id.slice(-5)}}</span>
  
  <span class="small-subtitle">Creată de medicul</span>

  <span class="subtitle block margin_bottom">{{medic.name}}</span>

  <div class="recommended-medic" *ngIf="!showEditRecommendedMedic">
    <span>
      <span class="small-subtitle">Către specializarea</span>
  
      <span class="subtitle block margin_bottom">{{domain}}</span>
    </span>

    <button *ngIf="reference.canCreateAppointment"
        mat-button
        color="primary"
        class="button secondary-button"
        (click)="getAllPosibleMedics()"
    >
      <span *ngIf="!specialist.domain">Alege medic</span>
      <span *ngIf="specialist.domain">Schimbă medic</span>
    </button>
  </div>

  <div *ngIf="specialist.domain && !showEditRecommendedMedic">
    <span class="small-subtitle">Către medicul specialist</span>

    <span class="subtitle block margin_bottom">{{specialist.name}}</span>
  </div>

  <mat-form-field appearance="fill" class="width-full" *ngIf="showEditRecommendedMedic">
    <mat-label>Medic specialist</mat-label>
    <mat-select (selectionChange)="changeSpecialist($event)">
      <mat-option *ngIf="specialist.domain" [value]="'cancel'">Anulează</mat-option>
      <mat-option
        *ngFor="let medic of possibleOtherMedics"
        [value]="medic"
      >
        {{medic.name}} - {{medic.domain}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="small-subtitle">Motiv</span>

  <span class="subtitle block margin_bottom">{{reference.details}}</span>

  <ng-container *ngIf="reference.feedback">
    <span class="small-subtitle">Concluzii în urma consultului</span>

    <span class="subtitle block margin_bottom">{{reference.feedback}}</span>
  </ng-container>

  <ng-container *ngIf="reference.canCreateAppointment; else viewOnly">
    <ng-container *ngIf="appointment; else createAppointment">
      <span class="subtitle block margin_bottom">Programare refuzată</span>

      <button 
        mat-button 
        class="max-width-medium"
        color="primary"
        *ngIf="reference.canCreateAppointment"
        (click)="goToCreateAppointment()"
      >
        Reprogramează
      </button>
    </ng-container>

    <ng-template #createAppointment>
      <button 
        mat-raised-button 
        class="max-width-medium" 
        color="primary"
        [disabled]="!specialist.domain"
        *ngIf="reference.canCreateAppointment"
        (click)="goToCreateAppointment()"
      >
        Crează programare
      </button>
    </ng-template>
  </ng-container>

  <ng-template #viewOnly>
    <button 
      mat-raised-button 
      class="max-width-medium"
      (click)="viewAppointment()"
    >
      Vezi programare
    </button>
  </ng-template>
</div>