<div class="flex_column flex_column-align-center flex_column-justify-center login">
  <div class="title width-full margin_bottom-s">
    <mat-icon (click)="backToChooseUserType()">keyboard_arrow_left</mat-icon>

    <span>Intrați în cont</span>
  </div>

  <span class="subtitle margin_bottom-xl">Check your heath - cea mai simplă metodă de a avea grijă de sănătatea ta</span>

  <form [formGroup]="loginForm" class="width-full">
    <mat-form-field
      *ngIf="userType === 'patient'"
      appearance="outline"
      class="width-full"
    >
      <mat-label>Număr de telefon</mat-label>

      <input matInput placeholder="0773339999" required formControlName="identity">
    </mat-form-field>

    <mat-form-field
      *ngIf="userType !== 'patient'"
      appearance="outline"
      class="width-full"
    >
      <mat-label>Email</mat-label>

      <input matInput type="email" placeholder="mail@gmail.com" required formControlName="identity">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="width-full margin_bottom"
    >
      <mat-label>Parolă</mat-label>

      <input matInput type="password" placeholder="**********" required formControlName="password">
    </mat-form-field>
  </form>


  <button
    mat-raised-button
    color="primary"
    class="width-full height-small button"
    [disabled]="!loginForm.valid"
    (click)="login()"
  >Intră</button>
</div>
