<ng-container *ngIf="loading">
  <cyh-loading-screen></cyh-loading-screen>
</ng-container>

<div class="flex" [ngClass]="{'card-hide': loading}">
  <div class="card card-height-auto width-medium margin_right-xl margin_bottom-xl">
    <ng-container *ngIf="addAppointment">
      <div class="flex flex-align-center margin_bottom-s back-btn" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span class="small-subtitle">Înapoi</span>
      </div>
      
      <span class="title block margin_bottom">Adaugă o programare</span>

      <form class="width-full margin_top">
        <span class="subtitle block margin_bottom">Selectează ziua</span>

        <mat-card class="calendar-card block margin_bottom">
          <mat-calendar
            [contentEditable]="false"
            [(selected)]="date"
            (selectedChange)="manageDateChange()"
            [dateFilter]="dateFilterForCalendar"
          ></mat-calendar>
        </mat-card>

        <span class="subtitle block margin_bottom">Selectează intervalul orar</span>

        <mat-form-field appearance="fill" class="width-full">
          <mat-label>Interval orar</mat-label>
          <mat-select [(value)]="startTime">
            <mat-option
              *ngFor="let interval of hoursIntervalOptions"
              [value]="interval.value"
            >
              {{interval.start}} - {{interval.end}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="subtitle block margin_bottom">Motivul programării</span>

        <mat-form-field appearance="fill" class="width-full">
          <mat-label>Motiv</mat-label>
          <textarea matInput [formControl]="reasonField" class="min-height-m"></textarea>
        </mat-form-field>
      </form>

      <button
        *ngIf="addAppointment"
        mat-raised-button
        color="primary"
        class="width-full height-small button"
        [disabled]="isCreateBtnDisabled()"
        (click)="createAppointment()"
      >
        Crează
      </button>
    </ng-container>

    <ng-container *ngIf="!addAppointment">
      <div class="flex flex-align-center margin_bottom-s back-btn" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span class="small-subtitle">Înapoi</span>
      </div>

      <div class="padding_left-s">
        <span class="title block margin_bottom">Programarea nr. {{appointment.id.slice(-5)}}</span>

        <span class="small-subtitle">Ziua programării</span>

        <span class="subtitle block margin_bottom">{{appointment.date * 1000 | date: 'dd MMM yyyy'}}</span>

        <span class="small-subtitle">Intervalul orar</span>

        <span class="subtitle block margin_bottom">{{appointment.hoursInterval.start | formatTime}} - {{appointment.hoursInterval.end | formatTime}}</span>

        <span class="small-subtitle">Motiv programare</span>

        <span class="subtitle block margin_bottom">{{appointment.reason || 'Nu este specificat' | upperCaseFirstLetter}}</span>

        <span class="small-subtitle">Status</span>

        <ng-container *ngIf="!appointment.examinationFinished; else appFinished">
          <ng-container *ngIf="appointment.status === 'pending'">
            <ng-container *ngIf="!isOldAppointment(appointment); else old">
              <span class="small-subtitle pending block">Așteaptă confirmare</span>
            </ng-container>
            <ng-template #old>
              <span class="small-subtitle pending block">Expirată</span>
            </ng-template>
          </ng-container>
          <span class="subtitle accepted block margin_bottom" *ngIf="appointment.status === 'accepted'">Confirmată</span>
          <span class="subtitle refused block margin_bottom" *ngIf="appointment.status === 'refused'">Respinsă</span>

          <ng-container *ngIf="appointment.status === 'refused' && appointment.refuseReason">
            <span class="small-subtitle">Motiv refuz</span>

            <span class="subtitle block margin_bottom">{{appointment.refuseReason || 'Nu este specificat' | upperCaseFirstLetter}}</span>
          </ng-container>
        </ng-container>

        <ng-template #appFinished>
          <ng-container *ngIf="!forSpecialist && !appointment.diagnostic?.final; else forSpec">
            <ng-container *ngIf="appointment.status === 'pending'">
              <ng-container *ngIf="!isOldAppointment(appointment); else old">
                <span class="small-subtitle pending block">Așteaptă confirmare</span>
              </ng-container>
              <ng-template #old>
                <span class="small-subtitle pending block">Expirată</span>
              </ng-template>
            </ng-container>
            <span class="subtitle accepted block margin_bottom" *ngIf="appointment.status === 'accepted'">Confirmată</span>
            <span class="subtitle refused block margin_bottom" *ngIf="appointment.status === 'refused'">Respinsă</span>
          </ng-container>

          <ng-template #forSpec>
            <span class="subtitle refused block margin_bottom" *ngIf="appointment.status === 'refused'">Respinsă</span>
            <span class="subtitle accepted block margin_bottom" *ngIf="appointment.status !== 'refused'">Finalizată</span>
          </ng-template>
        </ng-template>

        <div class="flex margin_top" *ngIf="appointmentType === 'new'">
          <ng-container *ngIf="!isOldAppointment(appointment)">
            <button
              mat-button
              color="primary"
              class="width-medium height-small button secondary-button"
              (click)="setAppointmentStatus('refused')"
            >
              Refuză
            </button>

            <span class="margin_right"></span>

            <button
              mat-raised-button
              color="primary"
              class="width-medium height-small button"
              (click)="setAppointmentStatus('accepted')"
            >
              Acceptă
            </button>
          </ng-container>
        </div>

        <ng-container *ngIf="appointmentType !== 'new' && appointment.status === 'accepted' && !forSpecialist">
          <button
            *ngIf="!appointment.diagnostic"
            mat-raised-button
            color="primary"
            class="width-full height-small button"
            (click)="openAddDiagnostic(true, false)"
          >
            Adaugă diagnostic
          </button>

          <ng-container *ngIf="appointment.diagnostic">
            <div class="flex">
              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
                (click)="openViewDiagnostic()"
              >
                Vezi diagnostic
              </button>

              <span class="block margin_right"></span>

              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
              >
                <a [href]="generateRaportLink()">Genereaza raport</a>
              </button>
            </div>

            <div class="flex margin_top" *ngIf="!appointment.diagnostic?.final">
              <button
                mat-button
                color="primary"
                class="width-full height-small button secondary-button"
                (click)="openAddRecommendation()"
              >
                Crează trimitere
              </button>
          
              <span class="block margin_right"></span>

              <button
                mat-button
                color="primary"
                class="width-full height-small button secondary-button"
                [disabled]="appointment.prescription"
                (click)="openAddPrescription()"
              >
                Crează rețetă
              </button>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="appointmentType !== 'new' && appointment.status === 'accepted' && forSpecialist">
          <button
            *ngIf="!appointment.diagnostic"
            mat-raised-button
            color="primary"
            class="width-full height-small button"
            (click)="openAddDiagnostic(false, false)"
          >
            Adaugă diagnostic
          </button>

          <ng-container *ngIf="appointment.diagnostic">
            <div class="flex">
              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
                (click)="openViewDiagnostic()"
              >
                Vezi diagnostic
              </button>

              <span class="block margin_right"></span>

              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
              >
                <a [href]="generateRaportLink()">Generează raport</a>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="appointment.prescription">
          <span class="small-subtitle block margin_top section-title">Prescripție</span>

          <div class="prescription padding_top-s padding_bottom border-bottom-prescription">
            <span class="medicines-grid">
              <span class="small-subtitle">Nume medicament</span>
              <span class="small-subtitle">Cantitate</span>

              <ng-container *ngFor="let medicine of appointment.prescription.medicines">
                  <span class="subtitle">{{medicine.medicine.name}}</span>

                  <span class="subtitle">{{medicine.quantity + ' mg'}}</span>
              </ng-container>
            </span>
          </div>
        </ng-container>

        <ng-container *ngIf="appointment.recommendations.length > 0">
          <span class="small-subtitle block margin_top section-title">Listă trimiteri</span>

          <div class="padding_top-s padding_bottom border-bottom-prescription">
            <span class="recommendations-grid">
              <span class="small-subtitle">Nume medic</span>
              <span class="small-subtitle checkbox">Programare creată</span>
              <span class="small-subtitle checkbox"><p>Investigație finalizată</p></span>
              <span class="small-subtitle checkbox">Diagnostic</span>
            </span>

            <span class="recommendations-grid rec-row" *ngFor="let rec of appointment.recommendations">
                <span class="subtitle">{{rec?.medicName}}</span>
                <span class="subtitle checkbox">
                  <mat-checkbox color="primary" [disabled]="true" [checked]="!!rec?.appointment"></mat-checkbox>
                </span>
                <span class="subtitle checkbox">
                  <mat-checkbox color="primary" [disabled]="true" [checked]="rec?.appointment?.examinationFinished"></mat-checkbox>
                </span>
                <button mat-stroked-button 
                  [disabled]="!rec?.appointment?.diagnostic"
                  (click)="openViewDiagnostic(rec.appointment.diagnostic)">Vezi</button>
            </span>
          </div>
        </ng-container>
        
        <div class="margin_top" *ngIf="appointmentType !== 'new' && appointment.status === 'accepted' && appointment.diagnostic">
          <ng-container *ngIf="appointment.recommendations.length > 0; else noData">
            <button
              *ngIf="!forSpecialist"
              mat-raised-button
              color="primary"
              [disabled]="!appointment.examinationFinished || appointment.diagnostic?.final"
              class="width-full height-small button"
              (click)="openAddDiagnostic(true, true)"
            >
              Adaugă diagnostic final
            </button>
          </ng-container>

          <ng-template #noData>
            <button
              *ngIf="!forSpecialist"
              mat-raised-button
              color="primary"
              [disabled]="appointment.diagnostic?.final"
              class="width-full height-small button"
              (click)="openAddDiagnostic(true, true)"
            >
              Adaugă diagnostic final
            </button>
          </ng-template>
          
          <button
            *ngIf="forSpecialist"
            mat-raised-button
            color="primary"
            [disabled]="appointment.examinationFinished || !appointment.diagnostic || appointment.recommendations.length > 0"
            class="width-full height-small button"
            (click)="finishInvestigation()"
          >
            Finalizează investigația
          </button>
        </div>
      </div>
    </ng-container>    
  </div>

  <div class="width-medium">
    <div
      *ngIf="addAppointment && !patientSelected"
      class="card card-height-auto width-full margin_right-xl margin_bottom-xl"
    >
      <span class="title block margin_bottom">Pacient</span>

      <span class="subtitle block margin_bottom">Selectează pacientul</span>

      <mat-form-field appearance="outline" class="width-full">
        <mat-label>Caută pacient</mat-label>

        <input 
            type="text" 
            placeholder="Cauta pacient"
            matInput
            [formControl]="searchPatientInput"
            [matAutocomplete]="auto"
            (focus)="onFocus()"
        >

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option 
              *ngFor="let patient of patientsForSelectInput | async" 
              [value]="patient.name" 
              (click)="selectPatient(patient)"
            >
              {{patient.name}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <cyh-patient-details-card
      *ngIf="!addAppointment || patientSelected"
      [isDynamicView]="patientSelected"
      [patient]="patient"
      (changePatient)="changePatient()"
      (viewLoaded)="finishPatientViewLoading()"
    ></cyh-patient-details-card>
  </div>
</div>
