<ng-container *ngIf="loading">
  <cyh-loading-screen></cyh-loading-screen>
</ng-container>

<div class="flex" [ngClass]="{'card-hide': loading}">
  <div class="card card-height-auto width-medium margin_right-xl margin_bottom-xl">
    <ng-container *ngIf="addAppointment">
      <div class="flex flex-align-center margin_bottom-s back-btn" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span class="small-subtitle">Inapoi</span>
      </div>
      
      <span class="title block margin_bottom">Adauga o programare</span>

      <form class="width-full margin_top">
        <span class="subtitle block margin_bottom">Selecteaza ziua</span>

        <mat-card class="calendar-card block margin_bottom">
          <mat-calendar
            [contentEditable]="false"
            [(selected)]="date"
            (selectedChange)="manageDateChange()"
            [dateFilter]="dateFilterForCalendar"
          ></mat-calendar>
        </mat-card>

        <span class="subtitle block margin_bottom">Selecteaza intervalul orar</span>

        <mat-form-field appearance="fill" class="width-full">
          <mat-label>Interval orar</mat-label>
          <mat-select [(value)]="startTime">
            <mat-option
              *ngFor="let interval of hoursIntervalOptions"
              [value]="interval.value"
            >
              {{interval.start}} - {{interval.end}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="subtitle block margin_bottom">Motivul programarii</span>

        <mat-form-field appearance="fill" class="width-full">
          <mat-label>Motiv</mat-label>
          <textarea matInput [formControl]="reasonField" class="min-height-m"></textarea>
        </mat-form-field>
      </form>

      <button
        *ngIf="addAppointment"
        mat-raised-button
        color="primary"
        class="width-full height-small button"
        [disabled]="isCreateBtnDisabled()"
        (click)="createAppointment()"
      >
        Creaza
      </button>
    </ng-container>

    <ng-container *ngIf="!addAppointment">
      <div class="flex flex-align-center margin_bottom-s back-btn" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span class="small-subtitle">Inapoi</span>
      </div>

      <div class="padding_left-s">
        <span class="title block margin_bottom">Programarea nr. {{appointment.id.slice(0, 5)}}</span>

        <span class="small-subtitle">Ziua programarii</span>

        <span class="subtitle block margin_bottom">{{appointment.date * 1000 | date: 'dd MMM yyyy'}}</span>

        <span class="small-subtitle">Intervalul orar</span>

        <span class="subtitle block margin_bottom">{{appointment.hoursInterval.start | formatTime}} - {{appointment.hoursInterval.end | formatTime}}</span>

        <span class="small-subtitle">Motiv programare</span>

        <span class="subtitle block margin_bottom">{{appointment.reason || 'Nu este specificat' | upperCaseFirstLetter}}</span>

        <span class="small-subtitle">Status</span>

        <span class="subtitle pending block margin_bottom" *ngIf="appointment.status === 'pending'">Așteaptă confirmare</span>
        <span class="subtitle accepted block margin_bottom" *ngIf="appointment.status === 'accepted'">Confirmată</span>
        <span class="subtitle refused block margin_bottom" *ngIf="appointment.status === 'refused'">Respinsă</span>

        <ng-container *ngIf="appointment.status === 'refused' && appointment.refuseReason">
          <span class="small-subtitle">Motiv refuz</span>

          <span class="subtitle block margin_bottom">{{appointment.refuseReason || 'Nu este specificat' | upperCaseFirstLetter}}</span>
        </ng-container>

        <div class="flex" *ngIf="appointmentType === 'new'">
          <button
            mat-button
            color="primary"
            class="width-medium height-small button secondary-button"
            (click)="setAppointmentStatus('refused')"
          >
            Refuza
          </button>

          <span class="margin_right"></span>

          <button
            mat-raised-button
            color="primary"
            class="width-medium height-small button"
            (click)="setAppointmentStatus('accepted')"
          >
            Accepta
          </button>
        </div>

        <ng-container *ngIf="appointmentType !== 'new' && appointment.status === 'accepted'">
          <button
            *ngIf="!appointment.diagnostic"
            mat-raised-button
            color="primary"
            class="width-full height-small button"
            (click)="openAddDiagnostic()"
          >
            Adauga diagnostic
          </button>

          <ng-container *ngIf="appointment.diagnostic">
            <div class="flex">
              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
                (click)="openViewDiagnostic()"
              >
                Vezi diagnostic
              </button>

              <span class="block margin_right"></span>

              <button
                mat-raised-button
                color="primary"
                class="width-full height-small button"
              >
                Genereaza raport
              </button>
            </div>

            <div class="flex margin_top" *ngIf="!appointment.diagnostic?.final">
              <button
                mat-button
                color="primary"
                class="width-full height-small button secondary-button"
              >
                Creaza trimitere
              </button>
          
              <span class="block margin_right"></span>

              <button
                mat-button
                color="primary"
                class="width-full height-small button secondary-button"
              >
                Creaza prescriptie
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>    
  </div>

  <div class="width-medium">
    <div
      *ngIf="addAppointment && !patientSelected"
      class="card card-height-auto width-full margin_right-xl margin_bottom-xl"
    >
      <span class="title block margin_bottom">Pacient</span>

      <span class="subtitle block margin_bottom">Selecteaza pacientul</span>

      <mat-form-field appearance="outline" class="width-full">
        <mat-label>Cauta pacient</mat-label>

        <input 
            type="text" 
            placeholder="Cauta pacient"
            matInput
            [formControl]="searchPatientInput"
            [matAutocomplete]="auto"
            (focus)="onFocus()"
        >

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option 
              *ngFor="let patient of patientsForSelectInput | async" 
              [value]="patient.name" 
              (click)="selectPatient(patient)"
            >
              {{patient.name}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill" class="width-full">
        <mat-label>Pacient</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let patient of patientsForSelect"
            [value]="patient.name"
            (click)="selectPatient(patient)"
          >
            {{patient.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <cyh-patient-details-card
      *ngIf="!addAppointment || patientSelected"
      [isDynamicView]="patientSelected"
      [patient]="patient"
      (changePatient)="changePatient()"
      (viewLoaded)="finishPatientViewLoading()"
    ></cyh-patient-details-card>
  </div>
</div>
