<div class="flex_column flex_column-align-center flex_column-justify-center choose-user-type">
  <span class="title margin_bottom-s">Alegeți tipul de utilizator</span>

  <span class="subtitle">Check your heath - cea mai simplă metodă de a avea grijă de sănătatea ta</span>

  <div class="user-types margin_top-xl">
    <button
      [routerLink]="['login', 'patient']"
      (click)="selectUserType('patient')"
      color="primary"
      mat-raised-button
    >
      Pacient
    </button>
    <button
      [routerLink]="['login', 'medic']"
      (click)="selectUserType('medic')"
      color="primary"
      mat-raised-button
    >
      Medic
    </button>
    <button
      [routerLink]="['login', 'pharmacy']"
      (click)="selectUserType('pharmacy')"
      color="primary"
      mat-raised-button
    >
      Farmacie
    </button>
    <button
      [routerLink]="['login', 'specialist']"
      (click)="selectUserType('specialist')"
      color="primary"
      mat-raised-button
    >
      Specialist
    </button>
  </div>
</div>
