<div class="flex_column flex_column-align-center flex_column-justify-center choose-user-type">
  <span class="title margin_bottom-s">Alegeți tipul de utilizator</span>

  <span class="subtitle">Check your heath - cea mai simplă metodă de a avea grijă de sănătatea ta</span>

  <div class="user-types margin_top-xl">
    <button
      *ngFor="let type of userTypes"
      [routerLink]="['login', realUserTypes[userTypes.indexOf(type)]]"
      (click)="selectUserType(type)"
      color="primary"
      mat-raised-button
    >
      {{ type | upperCaseFirstLetter }}
    </button>
  </div>
</div>
