:host
  position: relative

  .appointments-card
    max-height: 42.5rem
    overflow: scroll

    .button
      margin-top: 1rem

    .appointments-list
      display: block
      max-height: 32.5rem
      overflow: scroll
      margin-top: 0.5rem

    .new-appointments-list
      max-height: 14rem

    .appointment
      cursor: pointer
      padding: 0.5rem 0
      border-bottom: 1.5px solid #BFD7FF

      .pending
        color: #dfb569

      .accepted
        color: #5ce286

      .refused
        color: #e47777

      &:hover
        padding: 0.5rem 0.5rem
        background-color: #efeef1

  .old-appointments-card
    height: 52.5rem

    .old-appointments-container
      max-height: 46rem
      overflow: scroll

      .old-appointment
        cursor: pointer
        padding: 1rem 0
        border-bottom: 1.5px solid #BFD7FF

        &:hover
          padding: 1rem 0.5rem
          background-color: #efeef1