<div class="card medic-card">
  <span class="title">Medicul meu</span>

  <span class="small-subtitle">Nume</span>
  <span class="subtitle margin_bottom-s">Popescu Valeria</span>

  <span class="small-subtitle">Email</span>
  <a class="subtitle margin_bottom-s email" [href]="'mailto:' + 'popescuvaleria@mail.com'">popescuvaleria@mail.com</a>

  <span class="small-subtitle">Numar de telefon</span>
  <span class="subtitle margin_bottom-s">0777898023</span>

  <span class="small-subtitle margin_top block">Program de lucru</span>
  <div class="flex margin_top-s">
    <div class="margin_right-l">
      <span class="subtitle">Luni-Vineri:</span>
      <span class="subtitle">Marti:</span>
      <span class="subtitle">Miercuri:</span>
      <span class="subtitle">Joi:</span>
      <span class="subtitle margin_bottom-s">Vineri:</span>
    </div>
    <div>
      <span class="subtitle">9:00-17:00</span>
      <span class="subtitle">9:00-17:00</span>
      <span class="subtitle">9:00-17:00</span>
      <span class="subtitle">9:00-17:00</span>
      <span class="subtitle margin_bottom-s"> 9:00-17:00</span>
    </div>
  </div>


  <span class="small-subtitle">Locatie cabinet</span>
  <span class="subtitle block margin_bottom">Bulevardul Stefan cel Mare si Sfant, Iasi, Romania</span>

  <cyh-google-map></cyh-google-map>
</div>
