<div class="card medic-card">
  <span *ngIf="!isDynamicView" class="title">Medicul meu</span>
  <span *ngIf="isDynamicView" class="title">Medic 
    <span *ngIf="type === 'appointment'">programare</span>
    <span *ngIf="type === 'reference'">trimitere</span>
  </span>

  <span class="small-subtitle">Nume</span>
  <span class="subtitle margin_bottom-s">{{medic.name}}</span>

  <ng-container *ngIf="isSpecialist()">
    <span class="small-subtitle">Domeniu</span>
    <span class="subtitle margin_bottom-s">{{getSpecialistDomain() | upperCaseFirstLetter}}</span>
  </ng-container>

  <span class="small-subtitle">Email</span>
  <a class="subtitle margin_bottom-s email" [href]="'mailto:' + 'popescuvaleria@mail.com'">{{medic.email}}</a>

  <span class="small-subtitle">Numar de telefon</span>
  <span class="subtitle margin_bottom-s">{{medic.phoneNumber}}</span>

  <span class="small-subtitle margin_top block">Program de lucru</span>
  <div class="flex margin_top-s">
    <div class="margin_right-l">
      <span class="subtitle">Luni-Vineri:</span>
      <span class="subtitle">Marti:</span>
      <span class="subtitle">Miercuri:</span>
      <span class="subtitle">Joi:</span>
      <span class="subtitle margin_bottom-s">Vineri:</span>
    </div>
    <div>
      <span class="subtitle">{{medic.workingHours?.monday?.start}}:00 - {{medic.workingHours?.monday?.end}}:00</span>
      <span class="subtitle">{{medic.workingHours?.tuesday?.start}}:00 - {{medic.workingHours?.tuesday?.end}}:00</span>
      <span class="subtitle">{{medic.workingHours?.wednesday?.start}}:00 - {{medic.workingHours?.wednesday?.end}}:00</span>
      <span class="subtitle">{{medic.workingHours?.thursday?.start}}:00 - {{medic.workingHours?.thursday?.end}}:00</span>
      <span class="subtitle margin_bottom-s">{{medic.workingHours?.friday?.start}}:00 - {{medic.workingHours?.friday?.end}}:00</span>
    </div>
  </div>

  <span class="small-subtitle">Locatie cabinet</span>
  <span class="subtitle block margin_bottom">{{medic.address}}</span>

  <cyh-google-map></cyh-google-map>
</div>
