@use './assets/styles/_colors'

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap')
@import './assets/styles/_margin_and_padding'
@import './assets/styles/_position_and_display'
@import './assets/styles/_dimensions'
@import './assets/styles/_angular_material'

html, body, p
  margin: 0
  padding: 0
  font-family: 'Roboto Slab', serif

html
  min-height: 100%

html, body
  box-sizing: border-box
  padding: 0 2rem
  width: 100%
  background-color: #fdfcfc

p
  width: auto

/* auth */
.login, .register
  width: 30rem
  padding: 3rem
  text-align: center
  border-radius: 1rem
  box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f

  .title
    display: flex
    justify-content: center
    font-size: 1.5rem
    font-weight: 500

  .subtitle
    font: 1.25rem
    color: $dark_grey

  mat-icon
    justify-self: left
    cursor: pointer
    display: flex
    align-items: center
    width: 2rem
    height: 2rem
    color: $dark_grey

    &:hover, &:focus
      color: $dark_purple

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  input[type=number]
    -moz-appearance: textfield

/* card */
.card
  box-sizing: border-box
  padding: 2rem
  border-radius: 0.5rem
  background-color: #fff
  box-shadow: 0 2px 4px #97949433,0 3px 4px 1px #beb8b824

  .title
    font-size: 1.15rem
    font-weight: 500
    color: $dark_purple
    display: block
    margin-bottom: 0.5rem

  .subtitle
    display: block

  .small-subtitle
    font-size: 0.9rem
    color: #a6a6a6
    font-weight: 500

  .subtitle-purple
    color: $dark_purple

  &-not-selected
    background-color: rgba(63, 81, 181, 0.015)

  &-selected
    border-left: 0.5rem solid $dark_purple

  &-height
    min-height: 100%

  &-height-auto
    height: max-content
    min-height: max-content

  &-width
    min-width: 100%

  &-width-auto
    min-width: max-content

  &-hide
    display: none

.no-data
  height: 90vh
  align-items: center
  justify-content: center
  font-size: 1.3rem
  color: rgba(63, 81, 181, 0.8)
  font-weight: 500

.card-hover-effect
  &:active
    background-color: white

  &:hover
    background-color: rgba(63, 81, 181, 0.08)

.purple-title
  color: $dark_purple

/* btns */
.button
  font-size: 1rem

.secondary-button
  border: 1px solid $dark_purple !important
