.width
  &-full
    width: 100%
  &-medium
    width: 50%
  &-small
    width: 3rem

.min-width
  &-full
    min-width: 100%
  &-medium
    min-width: 50%
  &-small
    min-width: 3rem

.max-width
  &-full
    max-width: 100%
  &-medium
    max-width: 50%
  &-small
    max-width: 3rem

.height
  &-full
    height: 100vh
  &-full-percent
    height: 100%
  &-medium
    height: 50vh
  &-medium-percent
    height: 50%
  &-small
    height: 3rem

.min-height
  &-full
    min-height: 100%
  &-medium
    min-height: 50%
  &-m
    min-height: 5rem
  &-small
    min-height: 3rem

.max-height
  &-full
    max-height: 100%
  &-medium
    max-height: 50%
  &-small
    max-height: 3rem
