.margin
    &_right
        margin-right: 1rem
        &-none
            margin-right: 0
        &-xs
            margin-right: 0,25rem
        &-s
            margin-right: 0.5rem
        &-m
            margin-right: 1.25rem
        &-l
            margin-right: 1.5rem
        &-xl
            margin-right: 2rem
    &_left
        margin-left: 1rem
        &-none
            margin-left: 0
        &-xs
            margin-left: 0,25rem
        &-s
            margin-left: 0.5rem
        &-m
            margin-left: 1.25rem
        &-l
            margin-left: 1.5rem
        &-xl
            margin-left: 2rem
    &_top
        margin-top: 1rem
        &-none
            margin-top: 0
        &-xs
            margin-top: 0,25rem
        &-s
            margin-top: 0.5rem
        &-m
            margin-top: 1.25rem
        &-l
            margin-top: 1.5rem
        &-xl
            margin-top: 2rem
    &_bottom
        margin-bottom: 1rem
        &-none
            margin-bottom: 0
        &-xs
            margin-bottom: 0,25rem
        &-s
            margin-bottom: 0.5rem
        &-m
            margin-bottom: 1.25rem
        &-l
            margin-bottom: 1.5rem
        &-xl
            margin-bottom: 2rem
    

.padding
    &_right
        padding-right: 1rem
        &-none
            padding-right: 0
        &-xs
            padding-right: 0.25rem
        &-s
            padding-right: 0.5rem
        &-m
            padding-right: 1.25rem
        &-l
            padding-right: 1.5rem
        &-xl
            padding-left: 2rem
    &_left
        padding-left: 1rem
        &-none
            padding-left: 0
        &-xs
            padding-left: 0,25rem
        &-s
            padding-left: 0.5rem
        &-m
            padding-left: 1.25rem
        &-l
            padding-left: 1.5rem
        &-xl
            padding-left: 2rem
    &_top
        padding-top: 1rem
        &-none
            padding-top: 0
        &-xs
            padding-top: 0,25rem
        &-s
            padding-top: 0.5rem
        &-m
            padding-top: 1.25rem
        &-l
            padding-top: 1.5rem
        &-xl
            padding-top: 2rem
    &_bottom
        padding-bottom: 1rem
        &-none
            padding-bottom: 0
        &-xs
            padding-bottom: 0,25rem
        &-s
            padding-bottom: 0.5rem
        &-m
            padding-bottom: 1.25rem
        &-l
            padding-bottom: 1.5rem
        &-xl
            padding-bottom: 2rem